.PracticeRecordingElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .video-thumbnail-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    p {
      font-size: 0.875rem;
    }
  }
}

.VideoPopover {
  margin: 0.2rem;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.landscape-mode {
    width: 500px;
    height: 290px;
  }

  &.portrait-mode {
    width: 290px;
    height: 500px;
  }
}

