.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .text-card {
    width: 80%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    .media {
      padding: 24px;
      width: 300px;
      height: 300px;
    }
    .content {
      width: calc(100% - 400px);
      height: 300px;
    }
  }
}

body {
  background: rgb(227, 227, 227);
}
