.Fretboard {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 1280px;

	.fretboard-grid {
    margin-top: 1rem;
    margin-bottom: 1rem;
	}
	.scale-selector {
    display: inherit;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
	}
}