.TimelineElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  .VideoPopover {
    margin: 0.2rem;
  }
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.landscape-mode {
    width: 500px;
    height: 290px;
  }

  &.portrait-mode {
    width: 290px;
    height: 500px;
  }
}

