.Timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  .text-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    .media {
      padding: 24px; // Had to apply same padding because Material Card has similar padding ratios
      width: 300px;
      height: 300px;
    }
    .content {
      width: calc(100% - 400px);
      height: 300px;
      overflow-y: scroll;
    }
  }
}